.content{
    display: grid;
    grid: repeat(12,1fr)/repeat(12,1fr);
    height: 100vh;
    row-gap: 12%;
    margin: 0px;
    background-color: white;
}
.header{
    margin-top: 2%;
    margin-left:40%;
    font-weight: bold;
    font-size: 30px;
}
.gameBoard{
    grid-column: 5/8;
    grid-row: 2/6;
    display: grid;
    grid: repeat(12,1fr)/repeat(3,1fr);
    height: 400px;
    width: 400px;
    gap: 12%;
    background-color: white;
}
.playerScore{
    grid-column: 2/4;
}
.computerScore{
    grid-column: 10/12;
}
.card{
    height:100px ;
    width: 100px;
    background-color: rgb(114, 104, 250);
    transition: 0.5s ease-out;
    border-radius: 20px;
}
.card:hover{
    transition:0.1s linear;
    transform: scale(1.3);
}
#reset{
    grid-row: 4/6;
    margin-left:150%;
    width: 105%;
    border-radius:8px ;
}
