body{
    margin: 0px;
}
.content{
    display: grid;
    grid: repeat(12,1fr)/repeat(12,1fr);
    height: 100vh;
    row-gap: 12%;
    margin: 0px;
    background-color: white;
}
.header{
    margin-top: 2%;
    margin-left:40%;
    font-weight: bold;
    font-size: 30px;
}
.gameBoard{
    grid-column: 5/8;
    grid-row: 2/6;
    display: grid;
    grid: repeat(12,1fr)/repeat(3,1fr);
    height: 400px;
    width: 400px;
    gap: 12%;
    background-color: white;
}
.playerScoreBoard{
    grid-column: 2/4;
    grid-row:1/13 ;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
}
.computerScoreBoard{
    grid-column: 9/13;
    grid-row:1/13 ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    height:100px ;
    width: 100px;
    background-color: rgb(114, 104, 250);
    transition: 0.5s ease-out;
    border-radius: 20px;
}
.card:hover{
    transition:0.1s linear;
    transform: scale(1.3);
}
#reset{
    grid-row: 4/6;
    margin-left:150%;
    width: 105%;
    border-radius:8px ;
}
.player,.computer{
    opacity: 0;
    transform: scale(0);
}
.player.animation{
    animation: animation 1s ease-in forwards;
}
.computer.animation{
    animation: animation 1s ease-in forwards;
}
@keyframes animation {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    50%{
        opacity: 1;
        transform: scale(0.5);
    }
    75%{
        opacity: 1;
        transform: scale(2);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes animation2 {
     0%{
        opacity: 0;
    }
    /* 50%{
        opacity: 0;

    } */
    100%{
        opacity: 1;
    }
}
